@import "tailwindcss/base";

body {
    /*background: #2D2E32;*/
    background: #1A1E2C;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 57px;
    line-height: 67px;
    color: rgba(255, 255, 255, 0.05);
}

h2 {
    font-weight: 900;
}

h3 {
    color: #717480;
}

p {
    font-weight: 100;
    /*color: #828282;*/
    color: white;
}

.loading-text {
    font-weight: 900;
    font-size: 57px;
    position: absolute;
    top: 120%;
}

#iframe-mobile, iframe {
    position: absolute;
    top: 6%;
    left: 30px;
    width: 256px;
    height: 550px;
    z-index: 10;
    border: solid 1px black;
    border-radius: 25px !important;
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
}

#logo {
    display: block;
    margin: auto 0 auto auto;
}

#swipe {
    -webkit-animation : swipeAnim 2s infinite alternate;
    -moz-animation    : swipeAnim 2s infinite alternate;
    -o-animation      : swipeAnim 2s infinite alternate;
    animation         : swipeAnim 2s infinite alternate;
    position: absolute;
}

@keyframes swipeAnim {
    from {
        transform : scale(0.3);
        opacity   : 0;
        left: 0;
    }
    50% {
        transform : scale(0.5) rotate(30deg);
        opacity   : 0.5;
        left: 20%;
    }
    to {
        transform : scale(1) rotate(45deg);
        opacity   : 1;
        left: 30%;
    }
}

.sub-title {
    text-transform: capitalize;
    color: white;
}

.sub-title > span {
    color: #FF2E5B;
}

#learnMore {
    transition: padding-left 1s;
}

#learnMore:hover {
    padding-left: 10px;
}

.sub-title-inactive > span {
    color: #717480;
}

.neumorphism {
    height: auto;
    box-shadow: -5px -5px 15px 0 #7070705c, 5px 5px 15px 0 #0000008c;
}

.card {
    border-radius: 10px;
    border: solid 1px #70707012;
}

.mainCtas {
    height: 56px;
    width: 56px;
}

.mainCtas img {
    cursor: pointer;
}

.mainCtas:hover {
    background-image: linear-gradient(-45deg, #3a3a3e, transparent, #141517);
}

/*TODO create loader css and js*/
#wrapper-preloader {
    margin: 0;
    background: radial-gradient(#1a1e2c, #11141d);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
}

#container-preloader {
    width: 290px;
    height: 290px;
    border-radius: 100%;
    background: linear-gradient(165deg, #333b56 0%, #1A1E2C 40%, #0f1119 98%, rgb(0, 0, 0) 100%);
    position: relative;
    transition: visibility 3s, opacity 2s linear;
}

#preload {

}

#preload:before {
    /*transition: opacity 5s ease;*/
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-bottom: 0 solid #ffffff05;

    box-shadow:
            0 -10px 20px 20px #ffffff40 inset,
            0 -5px 15px 10px #ffffff50 inset,
            0 -2px 5px #ffffff80 inset,
            0 -3px 2px #ffffffBB inset,
            0 2px 0px #ffffff,
            0 2px 3px #ffffff,
            0 5px 5px #ffffff90,
            0 10px 15px #ffffff60,
            0 10px 20px 20px #ffffff40;
    filter: blur(3px);
    animation: 2s rotate linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

.preload-finish {
    opacity: 0;
    pointer-events: none;
    display: none !important;
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";

#scrollBar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
    display: block;
}

#scrollBar::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

#scrollBar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-linear-gradient(90deg, #ff3e6e, #ffa54b);
}