@import "tailwindcss/base";

body {
    /*background: #2D2E32;*/
    background: #1A1E2C;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 57px;
    line-height: 67px;
    color: rgba(255, 255, 255, 0.05);
}

h2 {
    font-weight: 900;
}

h3 {
    color: #717480;
}

p {
    font-weight: 100;
    /*color: #828282;*/
    color: white;
}

#iframe-mobile {
    position: absolute;
    top: 6%;
    left: 30px;
    width: 256px;
    height: 550px;
    z-index: 10;
    border-radius: 25px !important;
}

#logo {
    display: block;
    margin: auto 0 auto auto;
}

#swipe {
    -webkit-animation : swipeAnim 2s infinite alternate;
    -moz-animation    : swipeAnim 2s infinite alternate;
    -o-animation      : swipeAnim 2s infinite alternate;
    animation         : swipeAnim 2s infinite alternate;
    position: absolute;
}

@keyframes swipeAnim {
    from {
        transform : scale(0.3);
        opacity   : 0;
        left: 0;
    }
    50% {
        transform : scale(0.5) rotate(30deg);
        opacity   : 0.5;
        left: 20%;
    }
    to {
        transform : scale(1) rotate(45deg);
        opacity   : 1;
        left: 30%;
    }
}

.sub-title {
    text-transform: capitalize;
    color: white;
}

.sub-title > span {
    color: #FF2E5B;
}

.sub-title-inactive > span {
    color: #717480;
}

.neumorphism {
    height: auto;
    box-shadow: -5px -5px 15px 0 #7070705c, 5px 5px 15px 0 #0000008c;
}

.card {
    border-radius: 10px;
    border: solid 1px #70707012;
}

.mainCtas {
    height: 56px;
    width: 56px;
}

.mainCtas img {
    cursor: pointer;
}

.mainCtas:hover {
    background-image: linear-gradient(-45deg, #3a3a3e, transparent, #141517);
}

/*TODO create loader css and js*/

#preload {
    transition: opacity 5s ease;
    background-color: red;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

.preload-finish {
    opacity: 0;
    pointer-events: none;
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";

#scrollBar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
    display: block;
}

#scrollBar::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

#scrollBar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-linear-gradient(90deg, #ff3e6e, #ffa54b);
}